DRIVE1 /dev/sda
SWRAID 0
# SWRAIDLEVEL 1
HOSTNAME {{hostname}}
PART /boot  ext4      4G
PART lvm vg0 all crypt
CRYPTPASSWORD {{cryptroot_pass}}
LV  vg0  swap  swap  swap   6G
LV vg0   root   /     ext4  512G
LV vg0   data   /data ext4  all

IMAGE /root/images/{{os_image}}
SSHKEYS_URL /root/authorized_keys
